$green: #41A854;
$accentYellow: #F1BE3E;
$bkgdBlue: #193A4D;
$blackBlue: #031927;
$redFlame: #D95D39;
$greyNoir: #4B566D;
$orangePastel: #DE7D60;
$whiteSnow: #FAFAFA;
$disable: #00000090;


// TUDelft colors https://www.tudelft.nl/en/tu-delft-corporate-design/colours
// main blue #00A6D6

// blues #00b7d3
// #61a4b4
// #82d7c6
// #007188
// #00a390
// #0066a2
// green #99d28c
// yellow #f1be3e
// red #c3312f
// orange #eb7245